.home {
    background-color: $primaryColor;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5%;
}

.home_about {
    font-size: 1.2rem;
    padding: 0 2%;
    width: 96%;
    .fas {
        display: none;
    }
}

.home_about_heading {
    @include articleHeadingMobile();
    font-size: 1.6rem;
    margin-bottom: 0;
    text-align: center;
}

.home_about_subHeading {
    margin: 0;
    text-align: center;
}

.home_about_link {
    @include button();
    display: block;
    width: 96%;
    padding: 3% 2%;
}

.home_signup {
    color: $secondaryColor;
    display: flex;
    font-size: 1.2rem;
    flex-basis: 96%;
    flex-wrap: wrap;
    padding: 2%;
    position: relative;
    .fas {
        display: none;
    }
}

.home_signup_heading {
    @include articleHeading();
    border-bottom: 1px solid $contrastColor;
    color: $secondaryColor;
    font-size: 1.5rem;
    flex-basis: 100%;
    margin: 0;
    padding-bottom: 1%;
    text-transform: uppercase;
}

.home_signup_text {
    font-size: 2rem;
   margin: 2% 0; 
   order: 1; 
   padding: 2% 0;
   text-align: center;
}

.home_signup_eBook {
    font-size: 2rem;
   margin: 2% 0; 
   order: 2; 
   padding: 2% 0;
   text-align: center;
}

.home_signup_list {
    padding: 0;
    margin: 8% 8% 0 8%;
}

.home_signup_list li {
    border-top: 1px solid $contrastColor;
    margin-bottom: 4%;
    padding-top: 4%;
}

.home_signup_form {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    order: 1;
    padding: 0 2%;
    .far {
        color: $contrastColor;
    }
}

.home_signup_form_text {
    margin-bottom: 2%;
}

.home_signup_form_heading {
    color: $secondaryContrastColor;
    margin-top: 4%;
}

.home_signup_name {
    flex-basis: 100%;
    margin-bottom: 2%;
}

.home_signup_email {
    flex-basis: 100%;
    margin-bottom: 2%;
}

.home_signup_input {
    background-color: $primaryColor;
    border: 1px solid $secondaryColor;
    border-radius: 10px;
    color: $contrastColor;
    font-family: $standardFont;
    font-size: 1.3rem;
    margin: 1% 0;
    padding: 3%;
    width: 90%;
}

.home_signup_button {
    flex-basis: 100%;
    margin-top: 1%;
}

.home_signup_submit {
    @include button();
    border: 0;
    cursor: pointer;
    padding: 2% 0;
    margin-bottom: 2%;
    width: 96%;
}

.home_authority {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto 4% auto;
    max-width: 90%;
}

.home_authority_heading {
    @include articleHeadingMobile();
    flex-basis: 100%;
    font-size: 1.6rem;
    margin-bottom: 4%;
    text-align: center;
}

.home_authority_item {
    display: flex;
    filter: grayscale(100%);
    flex-basis: (100% / 3);
    justify-content: center;
}

.home_authority_img {
    display: block;
    height: 100%;
    width: 90%;
}

.home_divider {
    margin: 10% auto;
    width: 80%;
    &_line {
        height: 1px;
        border-top: 1px solid #CCC;
        width: 100%;
    }
    .fas {
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    .home {
        margin-top: $headerHeight;
        padding-top: 0;
        .footer {
            flex-basis: 60%;
        }
    }

    .home_about {
        font-size: 1.6rem;
        margin: 0 auto;
        width: 80%;
    }

    .home_divider {
        align-items: center;
        display: flex;
        justify-content: center;
        position: relative;
       &_line {
            flex-basis: 100%;
            z-index: 19;
        }
        .fas {
            background-color: $secondaryColor;
            color: #999;
            display: block;
            position: absolute;
            font-size: 8rem;
            text-align: center;
            z-index: 20;
        }
    }

    .home_about_heading {
        @include articleHeading();
        font-size: 3rem;
        text-align: left;
    }

    .home_about_subHeading {
        font-size: 2rem;
        text-align: left;
    }

    .home_about_link {
        font-size: 1.6rem;
        padding: 1%;
        width: 40%;
    }

    .home_authority {
        margin-bottom: 4%;
    }

    .home_authority_item {
        flex-basis: (100% / 6);
    }

    .home_authority_heading {
        @include articleHeading();
        font-size: 3rem;
        margin-bottom: 4%;
    }

    .home_signup {
        align-items: center;
        flex-basis: 96%;
        justify-content: center;
    }

    .home_signup_heading {
        font-size: 2.5rem;
        flex-basis: 80%;
    }

    .home_signup_text {
        border-top: none;
        flex-basis: 40%;
        font-size: 2.2rem;
        margin-top: 2%;
        margin-right: 2%;
        order: 1;
        padding-top: 2%;
    }

    .home_signup_list {
        margin: 4% 0 0 0;
    }

    .home_signup_list li {
        border-top: 1px solid #333;
        margin-bottom: 2%;
        padding-top: 2%;
    }
    
    .home_signup_form {
        flex-basis: 45%;
        order: 2;
        margin-left: 2%;
        padding: 0;
    }

    .home_signup_form_heading {
        margin-top: 0;
    }

    .home_signup_form_text {
        padding: 0;
    }
}